{% extends 'base.html' %}
{% load static %}
<!-- Soil Analysis Report Page created by Abhishek Pathak. -->
<!-- This page allows users to input various soil parameters and field details to generate a soil analysis report. The form collects information such as temperature, humidity, soil moisture, and nutrient levels, which are used to predict suitable fertilizer recommendations. -->

{% block Link %}
  <link rel="stylesheet" href="{% static 'css/soil_form.css' %} " />
{% endblock %}

{% block content %}
  <!-- Main Content -->
  <section class="container">
    <div class="form_content">
      <h1>Soil Analysis Report</h1>
      <form action="{% url 'fertilizer' %}" id="soil" method="POST">
        {% csrf_token %}
        <div class="form_data">
          <div>
            <label for="">Temperature(C):</label>
            <input type="number" name="Temp" placeholder="Enter soil temperature" required />
          </div>
          <div>
            <label for="">Humidity(%):</label>
            <input type="number" name="Humidity" placeholder="Enter soil humidity level" required />
          </div>
          <div>
            <label for="">Soil Moisture :</label>
            <input type="number" name="moisture" placeholder="Enter soil moisture level" required />
          </div>
          <div>
            <label for="">Field Area(hectare) :</label>
            <input type="text" name="area" placeholder="Enter field area" required />
          </div>
          <div>
            <label for="">Soil Depth(cm) :</label>
            <input type="text" name="depth" placeholder="Enter soil depth" required />
          </div>
          <div>
            <label for="">Soil Bulk Density(g/cm3) :</label>
            <input type="text" name="bulk" placeholder="Enter soil density" required />
          </div>
          <div>
            <label for="">Nitrogen(ppm):</label>
            <input type="text" name="nitrogen" placeholder="Enter amount of nitrogen" required />
          </div>
          <div>
            <label for="">Phosphorous(ppm):</label>
            <input type="text" name="phosphorous" placeholder="Enter amount of phosphorous" required />
          </div>
          <div>
            <label for="">Potassium(ppm):</label>
            <input type="text" name="potassium" placeholder="Enter amount of potassium" required />
          </div>
          <div>
            <label for="crop-type">Crop Name:</label>
            <select id="crop-type" name="crop">
              <option value="wheat">Wheat</option>
              <option value="paddy">Paddy</option>
              <option value="cotton">Cotton</option>
              <option value="jute">Jute</option>
              <option value="sugarcane">Sugarcane</option>
              <option value="millet">Millets</option>
              <option value="pulses">Pulses</option>
            </select>
          </div>
        </div>
        <div>
          <button class="btn" type="submit">Predict</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
