@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.part1{        
  background-color: #409287;
  color: white;
  padding-bottom: 60px;
}

.about-ferti{   /*styling background margin */
  padding:20px 50px;
}

.about-ferti h2{
  color: coral;
  font-size: 2rem;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.about-ferti-para p{
  margin-top: 8px;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5;
  word-spacing: 0.4rem;
}

.project-info{
  padding: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project-info a{
  margin: 12px;
  display: block;
}

.btn{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 1rem 2.4rem;
  text-decoration: none;
  color: #262626;
  background-color: #fff;
  border-radius: 6px;
}

.btn:hover{
  color: #2ecc71;
  background-color: #262626;
  transition: all 100ms ease-in;
}

.part2{
  background: linear-gradient(45deg, #3498db, #2ecc71);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 4rem;
  justify-content: space-between;
}

.team > h1{
  width: 100%;
  text-align: center;
  border-top: 1px solid white;
  color: #fff;
  font-size:6vw;
  background: linear-gradient(0deg,#2ecc71 ,#409287 );
  background-size: 500%;
}

.part2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(  90deg,  rgba(255, 255, 255, 0.1) 1px,  transparent 1px), linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}

/* Cards */
.card-client {
    background: #2cb5a0;
    width: 18rem;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture img {
    width: 6.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }

@media  screen and (max-width:900px) {
    .part2{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-ferti{
      padding: 1rem;
    }

    .about-ferti h2{
      font-size: 1.8rem;
    }
    .about-ferti-para p{
      font-size: 1rem;
    }
}