 /* ABHISHEK PATHAK  */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #E3F2E1; 
}

.fertilizer_prediction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.fertilizer_card{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: none;
    margin: 10px 2px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 15px  #2c3e50;
    animation: blink 1s linear ;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fertilizer_img{
    width: 40%;
    height: 40%;
    border-radius: 8px; 
    margin-right: 14px;
}
.fertilizer_details{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
     margin-top: 15px;
}

#fertilizer_name {
    font-weight: bold;
    color: #007BFF;
}
#fertilizer-amount{
    font-weight: bold;
    color: #28A745;
}
#fertilizer-type{
    color: grey;
}
#soil-condition{
    color: grey;
}
#crop-type{
    color: grey;
}

/* responsive code */
@media screen and (max-width: 786px)  {
  /* main content */
  .fertilizer_card{
    flex-direction: column;
    width: 88%;
  }
  .fertilizer_img{
    width: 70%;
    height: 70%;
    margin: auto;
  }
}   