/* Muklendra Pratap Rao */

body{
    background-image: url("../assets/sustainable.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Sustainable Farming heading styling */
.head{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px black;
}

.head h1{
    text-align: center;
    color: #229954;
}
/* All other heading  */
.head-lines{
    color: #8e44ad;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #212121;
}

/* Intro section styling */
.intro ,.needs ,.benefits,  .goals{
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(34, 29, 29);
    background-color: rgb(119, 221, 209);
    padding: 5px;
    display: flex;
    margin: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px white;
}

#farming-img , #need-sustain , #benefit-img {
    float: right;
    width: 720px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
}

.intro-text , .benefits-text , .need-text ,.goal-text-contain {
    font-size: 24px;
    margin: 2rem 3.2rem;
}

.goal-img-contain{
    max-width: 40%;
    img{
        width: 100%;
    }
}

/* All Div responsiveness */
@media screen and (max-width: 786px) {
    .sustain-container{
        flex-direction: column;
    }
    /* Sustainable farming div responsive */
    .intro{
        flex-direction: column;
        margin-left: 5px;
    }
    .intro-text{
        margin-left: 4px;
    }

    .intro-img{
        margin-top: 80rem;
    }

    #farming-img{
        width: 21rem;
        margin-left: 8px;
    }
  /* Needs div responsive */ 
    .needs{
        flex-direction: column;
        margin-left: 5px;
    }

    .need-text{
        margin-left: 4px;   
    }

    #need-sustain{
        width: 20rem;
        margin-left: 8px;
    }

    /* Benefits div responsive */
    .benefits{
        flex-direction: column;
        margin-left: 5px;
    }
    .benefits-text{
        margin-left: 4px;
    }

    #benefit-img{
      width: 20rem;
      margin-left: 8px;
    }
    /* Goals div responsive */
    .goals{
        flex-direction: column;
        margin-left: 5px;
    }

    #goals-img{
      width: 20rem;
      margin-left: 0px;
    }

}
