/* Muklendra Pratap Rao */

body{
    background-image: url("../assets/sustainable.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Sustainable Farming heading styling */
.head{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px black;
}

.head h1{
    text-align: center;
    color: #229954;
}
/* All other heading  */
.head-lines{
    color: #8e44ad;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #212121;
}

/* Intro section styling */
.intro ,.needs ,.benefits,  .goals{
    position: relative;
    display: flex;
    margin: 12px;
    padding: 1rem;
    color: #212121;
    background-color: #77ddd1;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px white;
}

#farming-img , #need-sustain , #benefit-img {
    float: right;
    width: 720px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
}

.intro-text , .benefits-text , .need-text ,.goals-text {
    font-size: 20px;
    margin: 2rem 3.2rem;
}

.goal-img{
    position: absolute;
    display: block;
    right: 2rem;
    top: 40%;
    bottom: 50%;
    transform: translateY(-50px);
    max-width: 40%;
    img{
        border-radius: 8px;
        width: 100%;
    }
}

/* All Div responsiveness */
@media screen and (max-width: 786px) {
    .sustain-container{
        flex-direction: column;
    }

    .intro , .needs ,.benefits , .goals{
        flex-direction: column;
        margin-left: 5px;
    }
    .intro-text , .need-text,.benefits-text{
        margin: 4px;
    }

    #farming-img,#need-sustain,#benefit-img{
        width: 21rem;
        margin-left: 8px;
    }

    .goal-img{
        position: static;
        transform: none;
        display: block;
        max-width: 100%;
    }

    #goals-img{
      width: 100%;
    }

}
